<h1>BotTest#index</h1>
<p>Find me in app/views/bot_test/index.html.erb</p>
Request.bot? <%= request.bot? %><br />
Request.browser? <%= request.browser? %><br />
Request.mobile? <%= request.mobile? %><br />
Request.phone? <%= request.phone? %><br />
Request.tablet? <%= request.tablet? %><br />
Request.human? <%= request.human? %><br />
